<footer class="footer">
  <div class="content has-text-centered">
    <p class="title is-5">{{ site.title }}</p>
    <p>{{ site.description }}</p>
    <p>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      {% if site.github_username %}
        &bull; <a href="https://github.com/{{ site.github_username }}">GitHub</a>
      {% endif %}
      {% if site.twitter_username %}
        &bull; <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
      {% endif %}
    </p>
  </div>
</footer>
<script src="{{ '/js/theme-toggle.js' | relative_url }}"></script>
